<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">
          <img src="../assets/logo.png">
        </a>
        <h3 class="navbar-text">Star Wars Portal</h3>
      </div>

      <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
             <li routerLinkActive="active"><a routerLink="/characters" >Characters</a></li>
             <li routerLinkActive="active"><a routerLink="/starships" href="#">Starships</a></li>
          </ul>
      </div>
  </div>
</nav>