<h3>
  Character Detail
  <button class="btn btn-primary btn-xs" (click)="goBack();">Go Back</button>
</h3>
<div *ngIf="character">
    <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>height</th>
            <th>Gender</th>
            <th>Specie</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>{{character.name}}</td>
            <td>{{character.height}}</td>  
            <td>{{character.gender}}</td>
            <td>{{character.specie.name}}</td>
          </tr>
        </tbody>
    </table>
</div>

