<h4>{{title}}</h4>

<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <input [(ngModel)]="filteredName" name="filter" type="text" class="form-control" placeholder="Filter by name">
            <span class="input-group-btn">
                <button class="btn btn-primary" (click)="orderList()">
                    <span class="glyphicon glyphicon-sort"></span>
                </button>
            </span>
        </div>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-xs-12">
        <list-item *ngFor="let itemEl of items | listByName: filteredName" [item]="itemEl"></list-item>
    </div>
</div>